/* button */
.btn-default {
  padding: .8em 2em;
  background-color: #FF4C54;
  color: #fff;
  border-radius: 4em;
}
.btn-default:hover {
  background-color: #f70f19;
  text-decoration: none;
}

a.btn-default {
  color: #fff !important;
}
a.btn-default:hover {
  color: #fff !important;
}

.btn-primary {
  padding: .8em 2em;
  background-color: #000;
  color: #fff;
  border-radius: 4em;
}
.btn-primary:hover {
  background-color: #222;
  text-decoration: none;
}

a.btn-primary {
  color: #fff !important;
}
a.btn-primary:hover {
  color: #fff !important;
}

